*
{
    margin:0;
    padding:0;
    font-family: "Sora", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background: #E6F6FF;
}

/*SECTION ONE*/
.sectionOne{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    
}
.sectionOne h1{
    text-align: center;
    max-width: 400px;
    color: #004B76;
}

.sectionOne span{
    font-size: 35px;
}


/*CONTACT FORM*/
.sectionTwo{
    margin-top: -90px;
}

.contactForm{
    max-width:500px;
    width: 100%;
    margin: 20px auto;
    padding:30px;
}

.contactForm p{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color:rgb(0, 0, 0);
    margin-bottom: 10px;
}

.contactForm form{
    width: 100%;
}

.contactForm form .inputBox{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactForm form .inputBox label{
    width: 70%;
    margin-right: 10px;
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #003655;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.contactForm form .inputBox .custom-select{
    width: 100%;
}

.contactForm form .inputBox .input, 
.contactForm form .inputBox select{
    width: 100%;
    outline: none;
    border: none;
    background-color: white;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.contactForm form .inputBox .custom-select option{
    background-color: white;
}



.contactForm form .inputBox .input:focus,
.contactForm form .inputBox select:focus{
    border: 1px solid #FF9F9F;
}

.contactForm form .inputBox .btn{
    width: 100%;
    padding: 18px 10px;
    font-size: 20px;
    border: 0;
    background: #A0DDFF;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
    color: #003655;
    margin-top: 30px;
}



.contactForm form .inputBox:last-child{
    margin-bottom: 0;
}

.contactForm form .inputBox .btn:hover{
    background: #51c2ff;
}

