<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="landingPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="sectionOne">
        <h1><span>Convince</span> your boss to give you a <span>raise!</span></h1>
    </div>


    <div class="form">
        <div class="sectionTwo">
            <div class="contactForm">
                <div class="contact-Form">

                    <form action="result.html" method="POST" class="contactForm">

                        <div class="inputBox">
                            <label>What is your job?</label>

                            <div class="custom-select">

                                <select id="job">
                                    <option value="default">default</option>
                                </select>

                            </div>

                        </div>
                        <div class="inputBox">
                            <label>Where do you live?</label>

                            <div class="custom-select">
                                <select id="location">
                                    <option value="default">default</option>
                                </select>
                            </div>

                        </div>
                        <div class="inputBox">
                            <label>What is your salary?</label>
                            <input id="salary" type="text" class="input" required="required" name="salary">

                        </div>
                        <div class="inputBox">
                            <label>When was your last raise?</label>
                            <input id="time" type="text" class="input" required="required" name="time">



                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Give me a raise" class="btn">
                        </div>

                    </form>


                </div>
            </div>

        </div>


    </div>


    <script>

        var select = document.getElementById("job"),
            arr = ["html", "css", "java", "javascript", "php", "c++", "node.js", "ASP", "JSP", "SQL"];

        for (var i = 0; i < arr.length; i++) {
            var option = document.createElement("OPTION"),
                txt = document.createTextNode(arr[i]);
            option.appendChild(txt);
            option.setAttribute("value", arr[i]);
            select.insertBefore(option, select.lastChild);
        }

        var select = document.getElementById("location"),
            arr = ["html", "css", "java", "javascript", "php", "c++", "node.js", "ASP", "JSP", "SQL"];

        for (var i = 0; i < arr.length; i++) {
            var option = document.createElement("OPTION"),
                txt = document.createTextNode(arr[i]);
            option.appendChild(txt);
            option.setAttribute("value", arr[i]);
            select.insertBefore(option, select.lastChild);
        }

    </script>

</body>

</html>
