<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='landingPage.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="sectionOne">
        <h1><span>Convince</span> your boss to give you a <span>raise!</span></h1>
    </div>

    <div class="form">
        <div class="sectionTwo">
            <div class="contactForm">
                <div class="contact-Form">
                    
                    <form action="results" method="POST" class="contactForm">

                        <div class="inputBox">
                            <label>What is your job?</label>
                            <input id="job" type="text" class="input" required="required" name="job" placeholder="Ex: Dentist, Coach, Professor...">

                        </div>
                        <div class="inputBox">
                            <label>Where do you live?</label>
                            <input id="location" type="text" class="input" required="required" name="location" placeholder="Ex: Ontario, Quebec">

                        </div>
                        <div class="inputBox">
                            <label>What is your hourly salary (CAN)?</label>
                            <input id="salary" type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" class="input" required="required" name="salary" placeholder="Ex: 40.5, 18.73...">

                        </div>
                        <div class="inputBox">
                            <label>When was your last raise?</label>
                            <input id="time" type="number" class="input" required="required" name="time" placeholder="Ex: 2019, 2020">



                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Give me a raise" class="btn">
                        </div>


                    </form>

                </div>
            </div>

        </div>


    </div>


</body>

</html>
